.input-number {
  width: auto;
  margin: 5px;
  input {
    text-align: center;
    width: 100%;
    &:disabled {
      background-color: lightgray;
      background: none;
      border-color: transparent;
      color: black;
    }
  }
}
