.user-character-features {
  background-color: rgb(219, 173, 230);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  label {
    margin-left: 10px;
  }
  .button {
    margin-top: 5px;
  }
}
