.user-character-saving-throws {
  background-color: lightblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  label {
    margin-left: 10px;
  }
}
