.user-character-stats {
  background-color: rgb(177, 173, 230);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  .hit-dice {
    display: flex;
    .text-input {
      max-width: 80px;
    }
    .button {
      margin-left: 10px;
    }
  }
  .number-input {
    max-width: 40px;
    margin-left: 10px;
  }
  label {
    margin-left: 10px;
  }
}
