.character-data-table {
  background-color: yellow;
  display: grid;
  width: 100%;
  padding: 5px;
  grid-template-rows: 1fr auto;
  .table-header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    justify-items: center;
  }
  .table-rows {
    .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
      justify-items: center;
      .text-input {
        input {
          text-align: center;

          width: 50px;
        }
      }
      .number-input {
        input {
          width: 40px;
        }
      }
    }
  }
}
