.user-character-money {
  background-color: rgb(230, 173, 182);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  label {
    margin-left: 10px;
  }
}
