.select-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  position: relative;
  width: auto;
  select {
    background-color: white;
    padding-left: 10px;
    padding-right: 20px;
  }
}
