.select-wrapper {
  background-color: green;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  position: relative;
  .select-header {
    display: flex;
    justify-content: space-between;
    .placeholder {
      color: grey;
    }
  }
  .select-list {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 24px;

    button {
      border: transparent;
      &:hover {
        background-color: yellow;
      }
    }
  }
}
