.character-subsection {
  .character-subsection-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }
  .character-subsection-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
