.player-navbar {
  display: flex;
  width: 100%;
  background-color: red;
  position: fixed;
  bottom: 0px;
  .button {
    height: 50px;
  }

  @include media("<=tablet") {
    .button {
      .text {
        display: none;
      }
    }
  }

  @include media(">tablet", "<desktop") {
    background-color: #fed;
  }

  @include media(">=desktop") {
    background-color: #fab;
  }
}
