.player-navbar {
  display: flex;
  width: 100%;
  background-color: red;
  position: fixed;
  bottom: 0px;
  .nav-link {
    background-color: lightgreen;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    &.selected {
      background-color: darkolivegreen;
    }
    &:hover {
      background-color: rgb(115, 144, 66);
    }
    .icon {
      display: flex;
      margin-left: 5px;
    }
  }

  @include media("<=tablet") {
    .nav-link {
      .text {
        display: none;
      }
    }
  }

  @include media(">tablet", "<desktop") {
    background-color: #fed;
  }

  @include media(">=desktop") {
    background-color: #fab;
  }
}
