.card {
  background-color: rgb(168, 168, 168);
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  border: solid 2px black;
  margin: 5px;
  .card-header {
    background-color: rgb(110, 110, 110);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    .actions {
      display: flex;
      button {
        margin: 5px;
      }
    }
  }
}
