.input-text-area {
  width: auto;
  margin: 5px;
  textarea {
    width: 100%;
    &:disabled {
      background-color: lightgray;
      background: none;
      border: none;
      color: black;
    }
  }
}
