.input-text-area {
  padding: 10px;
  .input {
    width: 100%;
    padding-left: 10px;
    &:disabled {
      background-color: lightgray;
      background: none;
      border-color: transparent;
      color: black;
    }
  }
}
