.player-router {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
  overflow: auto;

  @include media("<=tablet") {
    background-color: rgb(112, 162, 212);
  }

  @include media(">tablet", "<desktop") {
    background-color: #fed;
  }

  @include media(">=desktop") {
    background-color: #fab;
  }
}
